/*./pages/MakeUp.css */
.makeup-page {
    padding: 20px;
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-name {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    
  }
  
  .product-description {
    font-size: 14px;
    color: #666;
    
  }
  