.service .text-side h1 {
    font-weight: 700;
    font-size: 3rem;
}


.service .section2 h2{
    font-weight: 700;
}


.feature-service .service-card h4{
    margin-top: 5px;
    font-weight: 700;
    font-size: 1.2rem;
}

.feature-service .service-card img{
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}

.pop-card {
    background-image: url("https://img.pikbest.com/backgrounds/20220119/beauty-cosmetic-golden-essence-romantic-background_6238968.jpg!bw700");
    background-size: cover ;
    background-repeat: no-repeat; 

}
.pop-card1 {
    background-image: url("https://media.istockphoto.com/id/1329916081/vector/cosmetics-spa-or-skin-care-product-ads-with-bottle-banner-ad-for-beauty-products-pink-pearl.jpg?s=612x612&w=0&k=20&c=PJKrwQTRXSOP5KKm2AqAs5jBS9NDqEnCTfL1aGSdaPE=");
    background-size: cover ;
    background-repeat: no-repeat; 

}
.pop-card1 h2{
    font-weight: 700;
    font-size: 2.5rem;
     
}
.pop-card1 strong{
    font-weight: 700 ;
    font-size: 1.7em;
    color: #D63484;
}
.pop-card h2{
    font-weight: 700;
    font-size: 2.5rem;
     
}
.pop-card strong{
    font-weight: 700 ;
    font-size: 1.7em;
    color: #5F374B;
}