/* UserDashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  